body{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    font-size: 12px;
}

.wrapper{
    margin: auto;
}
/* header about */
.header .header_about{
    height: 52px;
    display: flex;
    background: url(../images/header_about/bg.jpg);
    background-repeat: repeat-x;
    justify-content: center;
}
.hotline > p > span{
    color: #d9031f;
    font-weight: bold;
}
.header .header_about div{
    display: flex;
    padding: 0px 50px;
    border-right: 1px solid #d7d7d7;
}
.header .header_about div:last-child{
    border-right: none;
}
.header .header_about p{
    margin: 0px;
    padding: 0px;
    line-height: 52px;
}
.header .header_about .material-icons{
    margin: 0px;
    padding: 0px 5px;
    line-height: 52px;
    font-size: 14px;
    color: #fe840c;
}
.header .header_about .contact a{
    margin: 0px;
    padding: 0px 5px;
    font-size: 35px;
    line-height: 52px;
}
.header_about>div>a{
    color: black;
    text-decoration: none;
    padding: 0px 10px;
}
.header_about>div>a>h4{
    line-height: 52px;
    margin: 0px;
}
.header_about>div>a:hover{
    color: #ff7e00;
}
/* header_banner */
.header_banner{
    margin: auto;
    padding: 0px;
    display: flex;
    height: 75px;
    justify-content: center;
}

.header_banner img{
    max-height: 65px;
    margin-top: 5px;
}

.header_banner h1{
    line-height: 75px;
    padding: 0px 30px;
    margin: 0px;
    color: #6a0a0b;
    font-size: 30px;
}

/* header_menu */
.header_menu{
    margin: 0px;
    height: 50px;
    background: #6a0a0b;
    border-bottom: 5px solid #ff7e00;
    text-align: center;
    border-top: 1px solid grey;
    z-index: 100;
}
.header_menu > ul{
    margin: 0px;
    display: inline-flex;
}
.header_menu>ul>li{
    display: inline-block;
    line-height: 50px;
    padding: 0px 20px;
    border-right: 1px solid grey;
    position: relative;
    transition: all 0.2s;
}
.header_menu>ul>li:hover{
    background: #ff7e00;
}
.header_menu>ul>li:hover .header_menu_submenu{
    display: block;
    transform: translateY(100%);
}
.header_menu>ul>li>a{
    text-decoration: none;
    color: white;
}
.header_menu>ul>li>ul{
    display: none;
    list-style: none;
    position: absolute;
    margin: 0px;
    padding: 0px;
    text-align: left;
    border: 1px solid #ff7e00;
    border-top: 5px outset #ff7e00;
    width: 250px;
    left: 0px;
    bottom: 0px;
    box-shadow: 2px 2px 4px gray;
    background: white;
    z-index: 100;
    transition: all 1s;
}
.header_menu>ul>li>ul>li{
    display: flex;
    flex-direction: column;
    line-height: 40px;
    border-bottom: 1px dotted #ff7e00;
    transition: all 0.2s;
}
.header_menu>ul>li>ul>li:last-child{
    border-bottom: none;
}
.header_menu>ul>li>ul>li>a{
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: gray;
    margin-left: 15px;
}
.header_menu>ul>li>ul>li:hover{
    background: #ff7e00;
}
.header_menu>ul>li>ul>li:hover a{
    color: #6a0a0b;
}
.header_menu>ul>.search>form{
    display: inline-block;
    line-height: 50px;
    padding: 0px 20px;
}
.header_menu>ul>.search>form>input{
    width: 200px;
    height: 30px;
    border: none;
}
.header_menu>ul>.search>form>button{
    width: 32px;
    height: 32px;
    margin-top: 9px;
    border: none;
    float: right;
    cursor: pointer;
}
.header_menu>ul>.cart>a{
    color: white;
    padding: 0px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 20px;
    position: relative;
}
.header_menu>ul>.cart>a:hover{
    color: #ff7e00;
}
.header_menu>ul>.cart>a>p{
    margin: 0px;
    padding: 2px 0px;
}
#iconShowTotalItemsInCart{
	background: white;
	color:black;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	font-size: 11px;
	text-align: center;
	line-height: 14px;
	position: absolute;
	top: -3px;
	right: 0;
	font-weight: 600;
}
/* footer */
.footer{
    background-color: #6a0a0b;
    margin: auto;
    text-align: center;
    color: white;
    margin-top: 20px;
}
.footer>ul{
    display: inline-flex;
    width: 1200px;
    justify-content: space-between;
    list-style: none;
}
.footer>ul>li{
    font-size: 15px;
    display: inline-block;
    text-align: left;
}
.footer>ul>li>span{
    font-weight: bold;
}
.footer #about{
    width: 15%;
}
.footer>ul>li>ul{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    list-style: inside;
}
.footer>ul>li>ul>li{
    line-height: 20px;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    text-align: left;
}
.footer>ul>li>ul>#contact{
    display: flex;
    margin: 0px;
    padding: 0px;
}
.footer>ul>li>ul>li>p{
    padding: 0px;
    margin: 0px; 
    line-height: 20px;
}
.footer>ul>li>ul>li>.material-icons{
    padding: 0 5px;
    margin: 0px;
    font-size: 15px;
    line-height: 20px;
}
.footer>ul>li>ul>li>a{
    text-decoration: none;
    color: white;
}
.footer>ul>li>ul>li>a:hover{
    color: #ff7e00;
}
.footer #about p{
    font-size: 11px;
    line-height: 15px;
}
/* footer */
footer{
    margin: 0px;
    padding: 0px;
    height: 35px;
    margin-top: -15px;
    background: #ff7e00;
    text-align: center;
}
footer p{
    line-height: 35px;
    color: white;
    font-weight: bold;
}