body{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    font-size: 12px;
}

.wrapper{
    margin: auto;
}
/* header about */
.header .header_about{
    height: 52px;
    display: flex;
    background: url(../images/header_about/bg.jpg);
    background-repeat: repeat-x;
    justify-content: center;
}
.hotline > p > span{
    color: #d9031f;
    font-weight: bold;
}
.header .header_about div{
    display: flex;
    padding: 0px 50px;
    border-right: 1px solid #d7d7d7;
}
.header .header_about div:last-child{
    border-right: none;
}
.header .header_about p{
    margin: 0px;
    padding: 0px;
    line-height: 52px;
}
.header .header_about .material-icons{
    margin: 0px;
    padding: 0px 5px;
    line-height: 52px;
    font-size: 14px;
    color: #fe840c;
}
.header .header_about .contact a{
    margin: 0px;
    padding: 0px 5px;
    font-size: 35px;
    line-height: 52px;
}
.fa-pinterest{
    color: #d9031f;
}
.fa-google-plus{
    color: #ea3032;
}
.fa-facebook{
    color: #325c94;
}
.contact i{
    margin-right: 0px;
}
.header_about>a{
    color: black;
    text-decoration: none;
    padding: 0px 10px;
}
.header_about>a>h4{
    line-height: 52px;
    margin: 0px;
}
.header_about>a:hover{
    color: #ff7e00;
}
/* header_banner */
.header_banner{
    margin: auto;
    padding: 0px;
    display: flex;
    height: 75px;
    justify-content: center;
}

.header_banner img{
    max-height: 65px;
    margin-top: 5px;
}

.header_banner h1{
    line-height: 75px;
    padding: 0px 30px;
    margin: 0px;
    color: #6a0a0b;
    font-size: 30px;
}

/* header_menu */
.header_menu{
    margin: 0px;
    height: 50px;
    background: #6a0a0b;
    border-bottom: 5px solid #ff7e00;
    text-align: center;
    border-top: 1px solid grey;
    z-index: 100;
}
.header_menu > ul{
    margin: 0px;
    display: inline-flex;
}
.header_menu>ul>li{
    display: inline-block;
    line-height: 50px;
    padding: 0px 20px;
    border-right: 1px solid grey;
    position: relative;
    transition: all 0.2s;
}
.header_menu>ul>li:hover{
    background: #ff7e00;
}
.header_menu>ul>li:hover .header_menu_submenu{
    display: block;
    transform: translateY(100%);
}
.header_menu>ul>li>a{
    text-decoration: none;
    color: white;
}
.header_menu>ul>li>ul{
    display: none;
    list-style: none;
    position: absolute;
    margin: 0px;
    padding: 0px;
    text-align: left;
    border: 1px solid #ff7e00;
    border-top: 5px outset #ff7e00;
    width: 250px;
    left: 0px;
    bottom: 0px;
    box-shadow: 2px 2px 4px gray;
    background: white;
    z-index: 100;
    transition: all 1s;
}
.header_menu>ul>li>ul>li{
    display: flex;
    flex-direction: column;
    line-height: 40px;
    border-bottom: 1px dotted #ff7e00;
    transition: all 0.2s;
}
.header_menu>ul>li>ul>li:last-child{
    border-bottom: none;
}
.header_menu>ul>li>ul>li>a{
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: gray;
    margin-left: 15px;
}
.header_menu>ul>li>ul>li:hover{
    background: #ff7e00;
}
.header_menu>ul>li>ul>li:hover a{
    color: #6a0a0b;
}
.header_menu>ul>.search>form{
    display: inline-block;
    line-height: 50px;
    padding: 0px 20px;
}
.header_menu>ul>.search>form>input{
    width: 200px;
    height: 30px;
    border: none;
}
.header_menu>ul>.search>form>button{
    width: 32px;
    height: 32px;
    margin-top: 9px;
    border: none;
    float: right;
    cursor: pointer;
}
.header_menu>ul>.cart>a{
    color: white;
    padding: 0px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 20px;
}
.header_menu>ul>.cart>a:hover{
    color: #ff7e00;
}
.header_menu>ul>.cart>a>p{
    margin: 0px;
    padding: 2px 0px;
}
/* folder tree */
.folder_tree{
    margin: auto;
    width: 1200px;
    display: flex;
}
.folder_tree p{
    margin: 0px;
    padding: 0px 5px;
    margin-top: 20px;
    line-height: 20px;
    color: rgb(99, 99, 99);
}
.folder_tree .material-icons{
    font-size: 18px;
}
.folder_tree p a{
    text-decoration: none;
    color: inherit;
}
.folder_tree #subfolder{
    font-weight: bold;
    color: #6a0a0b;
}
/* main */
.wrapper_main{
    width: 1200px;
    margin: auto;
    margin-top: 20px;
}
.wrapper_main .introduce{
    width: 1200px;
    display: flex;
}
.wrapper_main .introduce .product_img .images{
    height: 475px;
    width: 710px;
    overflow: hidden;
    text-align: center;
    position: relative;
}
.wrapper_main .introduce .product_img .images .material-icons{
    height: 30px;
    width: 30px;
    background: rgba(130, 130, 130, 0.5);
    color: white;
    position: absolute;
    line-height: 30px;
    border-radius: 50%;
    top: 40%;
    z-index: 1;
}
.wrapper_main .introduce .product_img .images .material-icons:hover{
    background: rgba(130, 130, 130, 0.7);
    cursor: pointer;
}
.wrapper_main .introduce .product_img .images #prev{
    left: 10px;
}
.wrapper_main .introduce .product_img .images #next{
    right: 10px;
}
.wrapper_main .introduce .product_img .images img{
	width: 710px;
    height: 475px;
    object-fit: cover !important;
}
.wrapper_main .introduce .product_img .thumb{
    width: 710px;
    height: 120px;
    overflow: hidden;
    margin-top: 10px;
}
/* .wrapper_main .introduce .product_img .thumb .thumb_item{
    width: 130px;
    height: 95px;
    background: #325c94;
    text-align: center;
} */
.wrapper_main .introduce .product_img .thumb img{
    width: 130px;
    height: 95px;
    object-fit: cover !important;
    margin: 10px 10px;
    border: 1px solid rgb(130, 130, 130);
}
/* product_order */
.product_order{
    width: inherit;
    margin-left: 20px;
}
.product_order #name{
    font-size: 20px;
    font-weight: bold;
    color: #6a0a0b;
}
.product_order #price span{
    color: red;
    font-weight: bold;
    font-size: 15px;
}
.product_order .button_order{
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.product_order .button_order button{
    padding: 20px;
    color: white;
    background: #6a0a0b;
    border: none;
    border-radius: 5px;
}
.product_order .button_order button:hover{
    background: #ff7e00;
    cursor: pointer;
}
.product_order .box{
    display: flex;
    width: inherit;
}
.product_order .box .sub_box{
    display: flex;
    margin: 10px;
    margin-top: 20px;
    padding: 0px;
}
.product_order .box .sub_box span{
    color: #6a0a0b;
    font-size: 40px;
    line-height: 50px;
    padding: 0px;
    margin: 0px;
}
.product_order .box .sub_box p{
    color: gray;
    width: 70px;
    margin-left: 5px;
}
.product_order #information{
	line-height: 20px;
}

/* chi tiết sản phẩm */
.slick-center{
	border: 3px double #6a0a0b !important;
	transform: scale(1.1,1.1);
}
.wrapper_product_detail{
    width: 1200px;
    display: flex;
    margin-top: 30px;
}
.wrapper_product_detail .product_detail{
    width: 895px;
}
.wrapper_product_detail .product_detail p{
    font-size: 18px;
    font-weight: bold;
    color: #6a0a0b;
    border-bottom: 1px solid #6a0a0b;
}
.wrapper_product_detail .product_detail .description{
    margin: auto;
    padding: 10px;
    text-align: left;
    border: 1px solid rgb(201, 201, 201);
    line-height: 23px;
    font-size: 15px;
}
.wrapper_product_detail .product_detail .description img{
    margin-top: 20px;
}
.wrapper_product_detail .product_detail .description img:last-child{
    margin-bottom: 20px;
}
.wrapper_product_detail .product_detail .like_shared{
    display: flex;
    margin-top: 10px;
}
.wrapper_product_detail .product_detail .like_shared button{
    background: #325c94;
    border: none;
    color: white;
    margin-left: 10px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    border-radius: 5px;
    padding: 0px 5px;
}
.wrapper_product_detail .product_detail .like_shared #like{
    display: flex;
}
.wrapper_product_detail .product_detail .like_shared #like span{
    font-size: 12px;
    line-height: 20px;
    padding: 0px 3px;
    margin: 0px;
}
.wrapper_product_detail .product_detail .like_shared button:hover{
    background: #5e7ba1;
    cursor: pointer;
}
.wrapper_product_detail .product_detail .comment_arrange{
    display: flex;
    position: relative;
    border-bottom: 1px solid rgb(201, 201, 201);
    margin-top: 20px;
}
.wrapper_product_detail .product_detail .comment_arrange div{
    position: absolute;
    right: 0px;
    display: flex;
    height: 20px;
    line-height: 20px;
}
.wrapper_product_detail .product_detail .comment_arrange div #arrange{
    margin-top: 13px;
    height: 20px;
}
.wrapper_product_detail .product_detail .comment_arrange div p{
    font-weight: normal;
    margin-right: 5px;
    font-size: 14px;
}
.wrapper_product_detail .product_detail .comment_arrange p{
    font-size: 15px;
    color: black;
    border: none;
}
.wrapper_product_detail .product_detail .avatar_comment_text{
    display: flex;
    margin-top: 20px;
    border-bottom: 1px solid rgb(201, 201, 201);
    padding-bottom: 20px;
}
.wrapper_product_detail .product_detail .avatar_comment_text .avatar{
    height: 100px;
    width: 100px;
    background: rgb(201, 201, 201);
    color: white;
    text-align: center;
    line-height: 100px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 15px;
}
.wrapper_product_detail .product_detail .avatar_comment_text .text_btn{
    height: 100px;
    width: 885px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.wrapper_product_detail .product_detail .avatar_comment_text .text_btn button{
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: #325c94;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border: none;
    height: 20px;
    padding: 0px 10px;
    border-radius: 3px;
}
.wrapper_product_detail .product_detail .avatar_comment_text .text_btn button:hover{
    background: #5e7ba1;
}
.wrapper_product_detail .product_detail .avatar_comment_text .text_btn #commenr_text{
    height: 65px;
    width: 785px;
    right: 0px;
    position: absolute;
    text-align: left;
    border-radius: 10px;
    border: 1px solid rgb(201, 201, 201);
}
.wrapper_product_detail .right{
    width: 285px;
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
}
.wrapper_product_detail .right .why{
    border: 1px solid rgb(201, 201, 201);
}
.wrapper_product_detail .right .why p{
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    line-height: 40px;
    background: #6a0a0b;
    padding-left: 15px;
}
.wrapper_product_detail .right .why ul{
    list-style: none;
    display: inline;
}
.wrapper_product_detail .right .why ul li{
    display: flex;
}
.wrapper_product_detail .right .why ul li p{
    font-size: 12px;
    line-height: 15px;
    background: none;
    color: rgb(99, 99, 99);
    font-weight: normal;
    padding: 10px 5px;
}
.wrapper_product_detail .right .why ul li span{
    line-height: 40px;
    font-size: 40px;
    padding: 0px 10px;
    margin-top: 5px;
    color: #6a0a0b;
}
.wrapper_product_detail .right .hot_product{
    border: 1px solid rgb(201, 201, 201);
    margin-top: 20px;
}
.wrapper_product_detail .right .hot_product p{
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    line-height: 40px;
    background: #6a0a0b;
    padding-left: 15px;
}
.wrapper_product_detail .right .hot_product ul{
    list-style: none;
    display: inline;
}
.wrapper_product_detail .right .hot_product ul li{
    margin-bottom: 15px;
    display: flex;
}
.wrapper_product_detail .right .hot_product ul li p{
    font-size: 12px;
    line-height: 15px;
    background: none;
    font-weight: normal;
    padding: 0px 5px;
    margin-top: 3px;
}
.wrapper_product_detail .right .hot_product ul li p a{
    text-decoration: none;
    color: rgb(99, 99, 99);
}
.wrapper_product_detail .right .hot_product ul li p:hover a{
    color: #6a0a0b;
}
.wrapper_product_detail .right .hot_product ul li img{
    margin: 0px;
    padding: 0px 5px;
    width: 80px;
    height: 60px;
    object-fit: cover;
    margin-left: 10px;
}
.warraper_products{
    width: 1200px;
    margin-top: 20px;
}
.warraper_products #title{
    font-size: 20px;
    line-height: 30px;
    color: #6a0a0b;
    border-bottom: 1px solid #6a0a0b;
    font-weight: bold;
}
.warraper_products .products{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.warraper_products .products span{
    position: absolute;
    height: 30px;
    width: 30px;
    color: white;
    background: rgba(130, 130, 130, 0.5);
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}
.warraper_products .products span:hover{
    background: rgba(130, 130, 130, 0.7);
    cursor: pointer;
}
.warraper_products .products #prev{
    left: 10px;
    top: 40%
}
.warraper_products .products #next{
    right: 10px;
    top: 40%
}
.warraper_products .products div{
    box-shadow: -1px 1px 4px 0px;
}
.warraper_products .products div p{
    font-weight: bold;
    margin-left: 10px;
}
.warraper_products .products div p a{
    text-decoration: none;
    color: #6a0a0b;
}
.warraper_products .products div #price{
    color: #ea3032;
}
/* ADVISE */
.advise{
    max-width: 1200px;
    margin: auto;
    text-align: center;
}
.advise h1{
    color: #6a0a0b;
    border-bottom: 1px solid #6a0a0b;
    margin-top: 30px;
}
.advise_news{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.advise_news .material-icons{
    color: #ff7e00;
    line-height: 165px;
}
.advise_content{
    width: 47%;
    display: flex;
    text-align: left;
    margin-top: 30px;
    justify-content: space-between;
}
.advise_content .content{
    border: 1px solid #6a0a0b;
    height: 145px;
    margin-top: 10px;
    padding: 0px 10px;
    width: 40%;
}
.advise_content .content #advise_title{
    font-weight: bold;
    color: #6a0a0b;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}
.advise_content .content #in_content{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.advise_content .content p a{
    text-decoration: none;
    color: #6a0a0b;
    font-weight: bold;
    font-size: 15px;
}
.advise_content .content p a:hover{
    color: #ff7e00;
}
/* đối tác */
.partner{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}
.partner h1{
    color: #6a0a0b;
    border-bottom: 1px solid #6a0a0b;
}
.partner_logo a{
    padding: 0px 50px;
}
/* footer */
.footer{
    background-color: #6a0a0b;
    margin: auto;
    text-align: center;
    color: white;
    margin-top: 20px;
}
.footer>ul{
    display: inline-flex;
    width: 1200px;
    justify-content: space-between;
    list-style: none;
}
.footer>ul>li{
    font-size: 15px;
    display: inline-block;
    text-align: left;
}
.footer>ul>li>span{
    font-weight: bold;
}
.footer #about{
    width: 15%;
}
.footer>ul>li>ul{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    list-style: inside;
}
.footer>ul>li>ul>li{
    line-height: 20px;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    text-align: left;
}
.footer>ul>li>ul>#contact{
    display: flex;
    margin: 0px;
    padding: 0px;
}
.footer>ul>li>ul>li>p{
    padding: 0px;
    margin: 0px; 
    line-height: 20px;
}
.footer>ul>li>ul>li>.material-icons{
    padding: 0 5px;
    margin: 0px;
    font-size: 15px;
    line-height: 20px;
}
.footer>ul>li>ul>li>a{
    text-decoration: none;
    color: white;
}
.footer>ul>li>ul>li>a:hover{
    color: #ff7e00;
}
.footer #about p{
    font-size: 11px;
    line-height: 15px;
}
/* footer */
footer{
    margin: 0px;
    padding: 0px;
    height: 35px;
    margin-top: -15px;
    background: #ff7e00;
    text-align: center;
}
footer p{
    line-height: 35px;
    color: white;
    font-weight: bold;
}